*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Regards', 'Rambla',sans-serif;
      font-size: 16px;
      line-height: 1.6;
}
@font-face {
  font-family: 'Regards';
  src: url('./assets/fonts/Regards-Regular.woff2') format('woff2'),
       url('./assets/fonts/Regards-Regular.woff') format('woff'),
       url('./assets/fonts/Regards.otf') format('opentype'),
       url('./assets/fonts/Regards.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

